/* Colors */

$dark-blue: hsla(216, 18%, 16%, 1);
$dark-blue_header: hsla(216, 18%, 16%, 0.8);
$turquoise: hsla(183, 100%, 35%, 1);
$gray: hsla(0, 0%, 93%, 1);
$dark-gray: hsla(217, 10%, 25%, 1);
$dark-button: hsla(217, 10%, 25%, 0.75);
$white: hsl(0, 0%, 100%);